<!--
 * Copyright [2023] [Ayram Tolentino]
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * This source code file was created by [Ayram Tolentino] and contains original code
 * created by me and my colleagues
 *
 * Contributions by:
 * - [Jonathan Rivera Vasquez]: [Connection to Back-End (links, forms, data, logic), Error manage]
 -->

@model PetHotel.Areas.Employees.Models.Employee
@using PetHotel.Areas.Employees.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="myContainer">
    <div class="table__wrapper">
        <h1 class="title">Control de Empleados</h1>
        <button class="btnAdd"> Añadir Empleado <i class="fa-solid fa-plus"></i></button>
        <table>
            <thead>
                <tr>
                    <th scope="col">Empleado</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Fecha Entrada</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var employeeList = ViewData["Employee"] as List<Employee>;
                }
                @foreach (var item in employeeList)
                {
                    <tr class="table__row">
                        <td data-label="Empleado">
                            @{
                                var personFullName = item.Person.PersonName + " " + item.Person.PersonLastname;
                            }
                            <p>@personFullName</p>
                        </td>
                        <td data-label="Usuario">
                            <p>@item.Person.PersonId</p>
                        </td>
                        <td data-label="Rol">
                            <p>@item.Role.RoleDescription</p>
                        </td>
                        <td data-label="Fecha Entrada">
                            <p>@item.DateEntry</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-container-other">
        <div class="modal__wrapper @(ViewData["CreateError"] != null ? "" : "hidden")">
            <div class="modal @(ViewData["CreateError"] != null ? "showModal" : "")" id="myModal">
                <div class="modal__header">
                    <h2>Añadir Empleado</h2>
                    <button class="closeBtn"></button>
                </div>
                <div class="modal__body">

                    <form asp-area="Employees" asp-controller="Employee" asp-action="Create" method="post" id="form" class="modal__form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form__row">
                            <label asp-for="Person.PersonId">Cédula</label>
                            <span asp-validation-for="Person.PersonId" class="text-danger"></span>
                            <input asp-for="Person.PersonId" type="number" placeholder="118800124" />
                        </div>

                        <div class="form__row">
                            <label asp-for="Person.PersonName">Nombre</label>
                            <span asp-validation-for="Person.PersonName" class="text-danger"></span>
                            <input asp-for="Person.PersonName" type="text" placeholder="Jonathan" />
                        </div>

                        <div class="form__row">
                            <label asp-for="Person.PersonLastname">Primer Apellido</label>
                            <span asp-validation-for="Person.PersonLastname" class="text-danger"></span>
                            <input asp-for="Person.PersonLastname" type="text" placeholder="Rivera" />
                        </div>
                    
                        <div class="form__row">
                            <label asp-for="Person.PersonSecondname">Segundo Apellido</label>
                            <span asp-validation-for="Person.PersonSecondname" class="text-danger"></span>
                            <input asp-for="Person.PersonSecondname" type="text" placeholder="Vasquez" />
                        </div>
                    
                        <div class="form__row">
                            <label asp-for="Person.Email">Email</label>
                            <span asp-validation-for="Person.Email" class="text-danger"></span>
                            <input asp-for="Person.Email" type="email" placeholder="email@example.com" />
                        </div>
                    
                        <div class="form__row">
                            <label asp-for="Person.Phone">Celular</label>
                            <span asp-validation-for="Person.Phone" class="text-danger"></span>
                            <input asp-for="Person.Phone" type="tel" placeholder="84432412" />
                        </div>
                    
                        <div class="form__row">
                            <label asp-for="RoleId">Rol</label>
                            <select asp-for="RoleId" asp-items="ViewBag.Role" class="form-control"></select>
                        </div>
                        <div class="form__row">
                            <label asp-for="DateEntry"></label>
                            <span asp-validation-for="DateEntry" class="text-danger"></span>
                            <input asp-for="DateEntry" type="date" class="form-control" />
                        </div>
                        <input asp-for="Password" hidden value="null" />
                        <span class="text-danger error-controller">@ViewData["CreateError"]</span>
                        <br />
                    </form>
                    <input form="form" class="addInput" type="submit" value="Añadir" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}