<!--
 * Copyright [2023] [Ayram Tolentino]
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * This source code file was created by [Ayram Tolentino] and contains original code
 * created by me and my colleagues
 *
 * Contributions by:
 * - [Jonathan Rivera Vasquez]: [Connection to Back-End (links, forms, data, logic), Error manage]
 * - [Allan Umana]: [Camera functionallity]
 -->

@model IEnumerable<PetHotel.Areas.Reservations.Models.Reservation>
@{
    ViewData["Title"] = "Reservaciones";
}

<div class="container">
    <h1 id="myH1">Reservaciones</h1>

    @foreach(var items in Model)
    {
        <div class="modal__wrapper">
            <div class="myModal" id="myModal">
                <div class="modal__body">
                    <table class="table__modal">
                        <tbody>
                            <tr class="table__modal__row">

                                <td>Fecha de Ingreso:</td>
                                <td>@items.DateStart</td>
                            </tr>

                            <tr class="table__modal__row">

                                <td>Fecha de Salida:</td>
                                <td>@items.DateEnd</td>

                            </tr>

                            <tr class="table__modal__row">

                                <td>Fecha Indefinida:</td>

                                <td><input type="checkbox" value="@items.DateUndefined" disabled></td>
                            </tr>

                            <tr class="table__modal__row">

                                <td>Cuidados de la mascota:</td>

                                <td>@items.DescriptionPetCare</td>

                            </tr>

                            <tr class="table__modal__row">

                                <td>Precio Final:</td>

                                <td>@items.FinalPrice</td>

                            </tr>

                            <tr class="table__modal__row">

                                <td>Especialista:</td>
                                @{
                                    var fullName = items.Employee.Person?.PersonName + " " + items.Employee.Person?.PersonSecondname;
                                    var label = @items.ReservationId + "Label";
                                }

                                <td>@fullName</td>
                            </tr>

                            <tr class="table__modal__row">
                                <td>Tipo de Paquete:</td>
                                <td>@items.PackageType.PackageTypeDescription</td>
                            </tr>

                            <tr class="table__modal__row">
                                <td>Nombre de la Mascota:</td>
                                <td>@items.Pet.PetName</td>
                            </tr>

                            <tr class="table__modal__row">

                                <td>Nombre del Dueño:</td>

                                <td>@items.Pet.User.Person.PersonName</td>

                            </tr>

                            <tr class="table__modal__row">

                                <td>Numero de Habitacion:</td>

                                <td>@items.Room.RoomId</td>

                            </tr>

                            <tr class="table__modal__row">
                                <td>Tipo de Estancia:</td>
                                <td>@items.StayType.StayTypeDescription</td>
                             </tr>
                            @if (DateTime.Now <= items.DateEnd)
                            {
                                <button class="camera-button" type="button" data-bs-toggle="modal" data-bs-target="#modal-@items.ReservationId">
                                    <span class="camera-icon">📷</span> Ver cámara de la mascota
                                </button>

                                
                                <div class="modal fade" id="modal-@items.ReservationId" tabindex="-1" aria-labelledby="@label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="cameraLabel">Camara en vivo<i class="fas fa-circle recording-icon"></i></h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <hr>
                                            <div class="modal-body">
                                                <video autoplay muted></video>
                                                <p>¡Gracias por solicitar tu reserva el EJAA Pet Hotel! Si desea más información puede comunicarse con nosotros al 2229-1743</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>     
        </div>
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modalButton = document.querySelector(".camera-button");
        const modalElement = document.querySelector(".modal");

        const videoElement = modalElement.querySelector("video");

        // Función para activar la cámara
        function startCamera() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    videoElement.srcObject = stream;
                })
                .catch((error) => {
                    console.error('Error al acceder a la cámara:', error);
                });
        }

        // Abrir modal
        modalButton.addEventListener('click', function () {
            startCamera();
        });

        // Cerrar modal
        modalElement.addEventListener('hidden.bs.modal', function () {
            const stream = videoElement.srcObject;
            if (stream) {
                const tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
                videoElement.srcObject = null;
            }
        });
    });
</script>
